body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'EB Garamond', serif;
}

.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}

.container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.text {
    font-size: 24px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 300px;
}

.content img {
    width: 300px;
    height: auto;
}

.description {
    margin-left: 100px;
    font-size: 25px;
    line-height: 1.5;
    width: 550px;
}

.explore-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f8f1f1;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 175px;
}

.explore-btn:hover {
    background-color: #90b4d8;
}

.sponsors {
    text-align: center;
    margin-top: 0px;
}

.sponsors-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.sponsors-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sponsor-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}


.footer {
   
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-item {
    flex: 1;
    max-width: 300px;
    margin: 0 20px;
}

.footer-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-item p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-item a {
    color: #fff;
    text-decoration: none;
}

.footer-item a:hover {
    text-decoration: underline;
}

.qr-code img {
    max-width: 80%;
    height: auto;
}
/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .text {
        margin-bottom: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .description {
        margin-left: 25px;
        font-size: 20px;
        text-align: center;
    }

    .explore-btn {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .text {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
        margin-left: 50px;
        text-align: center;
    }

    .explore-btn {
        margin-left: 0;
    }

    .sponsors-heading {
        font-size: 25px;
    }

    .sponsor-image {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .text {
        font-size: 17px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .description {
        font-size: 14px;
        margin-left: 25px;
        text-align: center;
    }

    .explore-btn {
        font-size: 18px;
        padding: 8px 16px;
        margin-left: 0;
    }

    .sponsors-images {
        flex-direction: column;
        align-items: center;
    }

    .sponsor-image {
        width: 100%;
        max-width: 300px;
    }
}
